.link{
    color: rgb(0, 113, 133);
    cursor: pointer;
}
.link:hover{
    color: rgb(233, 169, 19);
}
.nike{
    font-weight:  bold;
    font-size: 30px;
}
.price{
    color: rgb(0, 118, 0);
    font-weight: bold;

}
.add-button{
    background-color: rgb(225, 216, 20);
    width: 120px;
    height: 35px;
    border:  none;
    border-radius: 16px;
    margin-right:  10px;
    cursor: pointer;
}
.add-button:hover{
    background-color: rgb(220, 207, 13);
}
.add-button:active{
    opacity: 0.7;
}

.buy-button{
    background-color:  rgb(255, 164, 28);
    border:  none;
    height: 35px;
    width:  120px;
    border-radius:  16px;
    cursor: pointer;
}
.buy-button:hover{
    background-color: rgb(255, 153, 51);
}
.buy-button:active{
    opacity: 0.7;
}