
.thumbnail{
    /* width: 300px; */
    width: 100%;
    /* display: inline-block; */
}

.thumbnail-row{
    position: relative;
}

.time{
    position: absolute;
    right:5px;
    bottom: 10px;
    background-color: black;
    color: white;
    font-size: 13px;
    font-family: Roboto, Arial;
    width: 40px;
    height: 18px;
    text-align: center;
    padding-top: 3px;
}

.video-title{
    height:20px;
    padding-bottom:15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-preview{
    width: 100%;
    /* display: inline-block;
    vertical-align: top;
    margin-right: 15px; */
}

.profile-picture{
    width: 100%;
    /* display: inline-block; */

}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel-picture{
    /* display: inline-block; */
    width: 36px;
    vertical-align:top;
    border-radius: 30px;
}

.channel-picture-container{
    position: relative;
}
.channel-picture-container .tool-tip{
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    bottom: -70px;
    left: 10px;
    height: 60px;
    width: 180px;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    border: none;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events:none;
    
}

.channel-picture-container:hover .tool-tip{
    opacity: 1;
}
.tool-tip .channel-picture{
    height: 40px;
}

.tool-tip .channel-info{
    font-family: Roboto, Arial;
}

.tool-tip .video-author{
    font-size: 14px;
    font-weight: 600;
}
.tool-tip .video-subscribers{
    font-size: 12px;
    color: grey;
}

.video-title{
    margin-top:0;
}

.thumbnail-row{
    margin-bottom: 8px;
    display: inline-block;
}
.video-author,
.video-status{
    font-size:12px;
    color: rgb(96,96,96);
}

.video-author{
    margin-bottom:4px;
}

.video-grid{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    column-gap: 15px;
    row-gap: 40px;
}

@media (max-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px){
    .video-title{
        font-size: 16px;
        line-height: 24px;
    }
    .video-author,
    .video-status{
        font-size: 14px;
    }
}





